.login {
    
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
     
    
}
.login h1 {
    margin: 40px 0px;
}
.input-div {
    width: 50%;
    height: 50px;
    background: #E8F0FE;
    margin: 20px 0px;
    padding: 5px;
    
}
.input-div:focus-within {
    border: 2px solid #BD54EF;
    border-radius: 5px;

}
.input-div input {
    border:none ;
    width: 100%;
    height: 100%;
    background: #E8F0FE;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
.input-div input:focus {
    outline: none;
}
.btn-submit {
    background-color: #31B6A8;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    border-radius: 2px;
}
.btn-submit button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
    
    
}
.btn-submit:hover {
    background-color: #39c3b5;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
@media only screen and (max-width: 600px) {
    .login {
        width: 350px;
    }
}