.nav {
    height: 100px;
    background: #B96BEC;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-heading {
    color: #fff;
    margin-left: 100px;
}
.user-profile {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    padding: 10px;
    margin-right: 100px;
}