.signup {
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}
.signup h1 {
    margin: 50px 0px;
}